:root {
  --navy-blue-color: #2e2f42;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --hover-color: #404bbf;
  --cloud-color: #f4f4fd;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  /* -----------------INDEX-HEADER---------------------------------- */
  /* -----------------INDEX-HERO------------------------------------ */
  /* -----------------INDEX-FEATURES-------------------------------- */
  /* -----------------INDEX-What-Are-We-Doing----------------------- */
  /* -----------------INDEX-OUR-TEAM-------------------------------- */
  /* -----------------INDEX-CUSTOMERS------------------------------- */
  /* -----------------INDEX-FOOTER---------------------------------- */
  /* -----------------MODAL-ORDER----------------------------------- */
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
