/* -----------------MAIN-PROPERTIES------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-none {
  list-style: none;
}

.link-none {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------INDEX-HEADER------------------- */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--navy-blue-color);
  padding: 24px 0;
  display: block;
}

.header-logo span {
  color: var(--iris-color);
}

.header-list,
.header-contacts {
  display: none;
}

/* .current-page::after {
  margin: 0;
  padding: 0;
  content: '';
  position: relative;
  top: 25px;
  display: block;
  border-radius: 2px;
  height: 4px;
  background-color: var(--hover-color);
} */
.menu-mobile {
  position: absolute;
  right: 16px;
  top: 24px;
}
.menu-open-btn {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: block;
}
/* -----------------INDEX-HERO------------------- */
.hero {
  padding: 112px 0;
  text-align: center;
  background-color: var(--navy-blue-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mob-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mob-2x.jpg);
  }
}

.hero-title {
  max-width: 318px;
  text-align: center;
  margin: 0 auto;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.07;
  color: #ffffff;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 13px 32px;
  margin-top: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--iris-color);
  cursor: pointer;
  transition: background-color var(--transition-time);
}
/* .hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
} */

.hero-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

/* -----------------INDEX-OUR-FEATURES------------------- */
.our-features {
  padding: 96px 0;
}

.our-features-icons {
  display: none;
}
.our-features-suptitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.our-features-text {
  margin: 0 auto;
  max-width: 396px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.our-features-items:not(:last-child) {
  margin-bottom: 72px;
}

/* .our-features-items::before {
  content: '';
  display: inline-block;
  width: 264px;
  height: 121px;
  background-color: #f4f4fd;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .image-strategy::before {
  background-image: url(../svg/antenna.svg);
}

.image-punctuality::before {
  background-image: url(../svg/clock.svg);
}

.image-diligence::before {
  background-image: url(../svg/diagram.svg);
}

.image-technologies::before {
  background-image: url(../svg/astronaut.svg);
} */

/* -----------------INDEX-What-Are-We-Doing------------------- */
.what-we-do {
  display: none;
}
/* -----------------INDEX-OUR-TEAM------------------- */
.our-team > .container {
  padding: 0;
  padding-top: 96px;
  padding-bottom: 128px;
}
.our-team {
  background-color: var(--cloud-color);
}

.our-team-item {
  margin: 0 auto;
  height: 100%;
  padding-bottom: 32px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  text-align: center;
  margin-bottom: 72px;
}

.our-team-item:not(:last-child) {
  margin-bottom: 72px;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue-color);
  margin: 8px 0;
}

.our-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate-color);
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  transition: background-color var(--transition-time);
}

.social-links-ico {
  fill: var(--cloud-color);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--hover-color);
}
.our-team-social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.our-team-item {
  width: 264px;
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* -----------------INDEX-CUSTOMERS---------------- */
.customers {
  padding: 96px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.customers-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
}

.customers-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 168px; */
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  transition: border var(--transition-time),
    fill var(--transition-time);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border: 1px solid var(--hover-color);
  fill: var(--hover-color);
}

/* -----------------INDEX-FOOTER------------------- */

.footer {
  padding: 96px 0;
  background-color: var(--navy-blue-color);
}

.logo-menu-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--cloud-color);
  display: block;
  text-align: center;
}

.logo-menu-footer span {
  color: var(--iris-color);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.footer-text-part {
  margin-bottom: 72px;
}
.footer-social-media-part {
  display: block;
  text-align: center;
  margin-bottom: 72px;
}
.footer-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-our-team-social-links,
.footer-social-media-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  /* padding: 8px; */
  transition: background-color var(--transition-time);
}
.footer-social-links:hover,
.footer-social-links:focus {
  background-color: #31d0aa;
}
.footer-social-links-ico.instagram,
.footer-social-links-ico.twitter,
.footer-social-links-ico.facebook,
.footer-social-links-ico.linkedin {
  fill: var(--cloud-color);
}

/* .footer-subscribe-part {
  width: 453px;
} */

.footer-subscribe-part p {
  margin-bottom: 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.footer-input-subscribe {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.footer-subscribe-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--iris-color);
  border-radius: 4px;
  border: 0;
  padding: 8px 24px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  fill: #fff;
  transition: background-color var(--transition-time);
  margin: 0 auto;
}

.footer-subscribe-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

/* -----------------MODAL------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 320px;
  /* min-height: 576px; */
  padding: 72px 16px 24px 16px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 7px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #000;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color var(--transition-time),
    background-color var(--transition-time);
}

.modal-close-svg {
  fill: currentColor;
  display: block;
  top: 50%;
  left: 50%;
}
.modal-close-btn:hover {
  color: #fff;
  background-color: var(--hover-color);
}

.modal-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--navy-blue-color);
  margin-bottom: 16px;
}

.form-label,
.form-label-comment {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}

.form-input-comment {
  display: block;
  resize: none;
  height: 118px;
  width: 100%;
  margin: 0;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}

.form-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus,
.form-input-comment:focus {
  outline: none;
  border: 1px solid #4d5ae5;
  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus + .modal-input-svg {
  fill: var(--iris-color);
}

.modal-form-field-input {
  position: relative;
  margin-bottom: 8px;
}
.modal-input-svg {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  fill: var(--navy-blue-color);
}

.modal-checkbox-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--navy-blue-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color var(--transition-time);
  fill: transparent;
}

.modal-checkbox:focus:not(:checked) + .modal-checkbox-text span {
  fill: rgba(117, 117, 117, 0.5);
  border: 1.25px solid var(--hover-color);
}

.modal-checkbox:checked + .modal-checkbox-text span {
  background-color: var(--hover-color);
  fill: var(--cloud-color);
  border: transparent;
}

.modal-checkbox-text {
  display: flex;
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 4px;
  color: var(--iris-color);
}

.modal-send-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin: 24px auto 0;
  border: 0;
  background: var(--iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  transition: background-color var(--transition-time);
}

.modal-send-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

/* -----------------PORTFOLIO------------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--transition-time),
    background-color var(--transition-time),
    border var(--transition-time), box-shadow var(--transition-time);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  padding-bottom: 8px;
}

.portfolio-images-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.portfolio-image-details {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  z-index: 2;
}

.portfolio-images-item {
  width: calc((100%-48px) / 3);
  width: 360px;
  background-color: #fff;
}
.portfolio-images-item-link {
  position: relative;
  overflow: hidden;
  display: block;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-time);
}

.portfolio-images-item-link:hover,
.portfolio-images-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition-time);
}

.portfolio-images-item-link:hover .portfolio-overlay,
.portfolio-images-item-link:focus .portfolio-overlay {
  transform: translateY(0);
}
/* -----------------CONTACTS------------------- */
.contact-page-content {
  padding: 350px 0;
  width: 1128px;
}
